body{
    text-align: center;
}
h3{
    font-size: 26px;
    font-weight: 100;
    line-height: 60px;

    height: 60px;
    margin: 0;
    padding: 0;
}
h3 span{
    font-weight: 700;
}
.text-success{
    color: green;
}
.text-danger{
    color: red;
}
.usage-text{
    font-size: 12px;
    line-height: 20px;

    width: 500px;
    margin: 0 auto;

    text-align: left;
    // height: 20px;
}
code{
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 1px;

    text-align: center;

    border: 1px solid #b7b7b7;
    border-top-color: #dedede;
    border-left-color: #dedede;
    border-radius: 3px;
    background: #e2e2e2;
}

canvas{
    margin-top: -30px;
}
